asgiref==3.9.0
crispy-bootstrap5==2025.6
Django==5.2.1
django-crispy-forms==2.4
django-user-agents==0.4.0
python-dateutil==2.9.0.post0
setuptools==78.1.1
six==1.17.0
sqlparse==0.5.3
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
user-agents==2.2.0
wheel==0.45.1